In [1]:
import sys 
import pandas as pd

In [2]:
bn = pd.read_csv('Bitcoin_Prices_List.csv')

In [4]:
bn.columns = ['Prices']

In [5]:
bn

                                                Prices
0    2025-11-04T00:00:00.000Z;"2025-11-04T23:59:59....
1    2025-11-03T00:00:00.000Z;"2025-11-03T23:59:59....
2    2025-11-02T00:00:00.000Z;"2025-11-02T23:59:59....
3    2025-11-01T00:00:00.000Z;"2025-11-01T23:59:59....
4    2025-10-31T00:00:00.000Z;"2025-10-31T23:59:59....
..                                                 ...
393  2024-10-07T00:00:00.000Z;"2024-10-07T23:59:59....
394  2024-10-06T00:00:00.000Z;"2024-10-06T23:59:59....
395  2024-10-05T00:00:00.000Z;"2024-10-05T23:59:59....
396  2024-10-04T00:00:00.000Z;"2024-10-04T23:59:59....
397  2024-10-03T00:00:00.000Z;"2024-10-03T23:59:59....

[398 rows x 1 columns]